<div>
  <app-tabs>
    <app-tab title="Timers">
      <app-timer *ngFor="let timer of timers" init="{{ timer }}" (onComplete)="showEndTimer()"></app-timer>
      <button class="add" (click)="showAddTimer()">+</button>
    </app-tab>
    <app-tab title="Crono">
      Crono not available
    </app-tab>
    <app-tab title="Alarm">
      Crono not available
    </app-tab>
  </app-tabs>

  <app-alert-view [hidden]="!isAddTimerVisible">
      
      <div header>
        Add Timer
      </div>

      <label>Set the number of seconds for your timer</label>
      <input [(ngModel)]="time" type="number">
  
      <div footer class="footer">
        <button (click)="hideAddTimer()" class="cancel-button">Cancel</button>
        <button (click)="submitAddTimer()">Ok</button>
      </div>

  </app-alert-view>

  <app-alert-view [hidden]="!isEndTimerVisible">
      
    <div header>
      Timer Ended
    </div>

    <div>Your countdown has finished</div>

    <div footer class="footer">
      <button (click)="hideEndTimer()">Ok</button>
    </div>

</app-alert-view>
</div>